wp-admin/
wp-includes/
license.txt
readme.html
xmlrpc.php
wp-config-sample.php

wp-content/uploads/

wp-content/plugins/*
!wp-content/plugins/wp-react-plugin/

node_modules/
build/
npm-debug.log*
yarn-error.log
.DS_Store

.vscode/
.idea/
Thumbs.db

/node_modules
/build
npm-debug.log*
yarn-error.log
.DS_Store
.vscode/
.idea/