# WordPress core
wp-admin/
wp-includes/
license.txt
readme.html
xmlrpc.php
wp-config-sample.php

# Uploads (ако не искаш медийни файлове в репото)
wp-content/uploads/

# Всички плъгини, освен твоя
wp-content/plugins/*
!wp-content/plugins/wp-react-plugin/

# Всички теми, освен ако не разработваш някоя
wp-content/themes/*
!wp-content/themes/twenty*

# Node / build артефакти
node_modules/
build/
npm-debug.log*
yarn-error.log
.DS_Store

# IDE/OS
.vscode/
.idea/
Thumbs.db

/node_modules
/build
npm-debug.log*
yarn-error.log
.DS_Store
.vscode/
.idea/